.opaAlwaysOne:hover {
  opacity: 1;
  z-index: 2;
}

.chOpa {
  opacity: 0.3;
}

.selecter {
  border-radius: 2%;
  position: absolute;
  /* display: flex; */
  opacity: 1;
  width: 70vw;
  z-index: 3;
  left: 4vw;

  top: -25vh;
  /* ft: 5vw; */
  /* padding: 5rem 3rem; */
}

.content {
  display: flex;
}

.content div:first-child {
  width: 100%;
  top: 10%;

  text-align: left;
  margin-left: 10vw;
}

.content div:first-child h1 {
  font-size: 1.1rem;

  margin-top: 1vh;
}

.content div:first-child p {
  font-size: 1rem;
  line-height: 1.1rem;
  margin-left: 0.5rem;
  color: red;
}

.content div:first-child h3 {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.7rem;
  color: white;
  margin-top: 50%;
}

.content div:first-child {
  width: 50%;
  position: absolute;
}

.content div:nth-child(2) {
  position: inherit;
  width: 50%;
  height: 100px;
  height: 10%;

  margin-left: 30%;
}

.content div:nth-child(2) img {
  object-fit: cover;

  /* border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%; */
  /* border-radius: 50%; */

  /* color: #5680e9;

  color: #84ceeb;

  color: #5ab9ea;

  color: #c1c8e4;

  color: #8860d0; */
}

.topping {
  position: absolute;
  align-items: center;
  display: flex;
  gap: 1rem;
  margin: auto;
  justify-content: center;
  justify-self: center;
  margin-left: 50%;
  transform: translate(-50%, 20%);
}

.topping p {
  font-size: 1.7rem;
  font-weight: 500;
  color: #5680e9;
  color: #fff;
}

.topping div img {
  width: 45px;
}

.mentorInfo {
  text-align: left;
}

@media screen and (max-width: 1200px) {
  .topping p {
    font-size: 1.4rem;
    font-weight: 400;
  }

  .topping div img {
    width: 40px;
  }

  .content div:first-child h1 {
    font-size: 1rem;
  }

  .content div:first-child p {
    font-size: 1rem;
  }

  .content div:first-child h3 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.7rem;
    color: white;
    margin-top: 50%;
  }
}

@media screen and (max-width: 950px) {
  .topping p {
    font-size: 1.2rem;
    font-weight: 300;
  }

  .topping div img {
    width: 35px;
  }

  .content div:first-child h1 {
    font-size: 1rem;
  }

  .content div:first-child p {
    font-size: 1rem;
  }

  .content div:first-child h3 {
    font-size: 1.8rem;
    font-weight: 300;
  }

  .selecter {
    top: -15vh;
  }
}

@media screen and (max-width: 850px) {
  .selecter {
    left: -11vw;
    top: 5vh;
  }
}

@media screen and (max-width: 800px) {
  .topping p {
    font-size: 1rem;
    font-weight: 300;
  }
  .topping div img {
    width: 25px;
  }

  .content div:first-child h1 {
    font-size: 1rem;
  }

  .content div:first-child p {
    font-size: 0.8rem;
  }

  .content div:first-child h3 {
    font-size: 1.3rem;
    font-weight: 400;
    margin-top: 30%;
  }

  .mentorInfo {
    padding: 0.3rem;
  }

  .mentorInfo h3 {
    font-size: 1rem;
  }

  .mentorInfo p {
    font-size: 0.8rem;
    line-height: 1rem;
  }
}

@media screen and (max-width: 650px) {
  .topping p {
    display: none;
  }
  .topping div img {
    width: 20px;
  }

  .content div:first-child h1 {
    font-size: 0.7rem;
  }

  .content div:first-child p {
    font-size: 0.6rem;
  }

  .content div:first-child h3 {
    font-size: 1rem;
    font-weight: 300;
    margin-top: 30%;
  }

  .mentorInfo h3 {
    font-size: 0.9rem;
    line-height: 1rem;
  }

  .mentorInfo p {
    font-size: 0.8rem;
    line-height: 0.8rem;
  }
}

@media screen and (max-width: 500px) {
  .card {
    display: none;
  }
}
