.own:hover {
  /* transition: all 3s ease; */
  /* transform: scale(1.1); */
  border-radius: 5%;
}

.opaAlwaysOne:hover {
  opacity: 1;
  z-index: 2;
}

.chOpa {
  opacity: 0.3;
}

.selected {
  background: #5680e9;
  background: #fff;
  border-radius: 2%;
  position: absolute;
  display: flex;
  opacity: 1;
  width: 30vw;
  z-index: 3;

  /* top: -5vh; */
  margin-left: 25vw;
  padding: 2rem;
}

.selected div:first-child {
  border-radius: 50%;
  box-shadow: #666 0px 0px 30px;
  /* background: #84ceeb; */
  margin-right: 2vw;
}

.selected div img {
  width: 12vw;
  border-radius: 50%;
  /* color: #5680e9;

  color: #84ceeb;

  color: #5ab9ea;

  color: #c1c8e4;

  color: #8860d0; */
}
